/* for About Us / Mission page */
/* line 5, ../sass/customStyle.scss */
.topspacer_au {
  padding-top: 65px;
  padding-bottom: 20px;
}

/* line 10, ../sass/customStyle.scss */
.topheadingbox_au {
  padding-top: 8px;
  padding-bottom: 40px;
  margin-bottom: 25px;
  color: black;
  background-color: #fcfcfc;
  border-style: dotted;
  border-width: 1px;
}

/* line 20, ../sass/customStyle.scss */
.leftmarginspacer_au {
  margin-left: 25px;
  margin-right: 70px;
  background-color: #fcfcfc;
}

/* line 26, ../sass/customStyle.scss */
.maintextbottommargin_au {
  padding-top: 1px;
  padding-bottom: 20px;
}

/* for Contact page */
/* line 33, ../sass/customStyle.scss */
.cuspacerbox {
  padding-top: 8px;
  padding-bottom: 40px;
  margin-bottom: 15px;
  color: black;
  background-color: #ffffff;
}

/* line 41, ../sass/customStyle.scss */
.cutopheadingbox {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: black;
  background-color: #eee;
}

/* line 49, ../sass/customStyle.scss */
.culeftmarginspacer {
  margin-left: 40px;
  margin-right: 160px;
  background-color: #eee;
}

/* line 55, ../sass/customStyle.scss */
.cumaintextbottommargin {
  padding-top: 1px;
  padding-bottom: 20px;
}

/* line 60, ../sass/customStyle.scss */
.center-block {
  float: none;
}

/* line 64, ../sass/customStyle.scss */
#homePageHeader {
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 69, ../sass/customStyle.scss */
#homePageHeader .bkgImgTint {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 400px;
}
/* line 73, ../sass/customStyle.scss */
#homePageHeader .headerCopy {
  padding: 3rem;
}
/* line 75, ../sass/customStyle.scss */
#homePageHeader .headerCopy .bulletPoints {
  padding: 3rem 0 0 1rem;
}
/* line 78, ../sass/customStyle.scss */
#homePageHeader .headerCopy h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 34px;
  color: #ffffff;
}
/* line 83, ../sass/customStyle.scss */
#homePageHeader .headerCopy h2 {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
}
/* line 87, ../sass/customStyle.scss */
#homePageHeader .headerCopy h4 {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
}
/* line 92, ../sass/customStyle.scss */
#homePageHeader .morrisCounty {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  position: relative;
  height: 100%;
}
/* line 97, ../sass/customStyle.scss */
#homePageHeader .morrisCounty span {
  background-color: rgba(242, 222, 107, 0.6);
  padding: 1rem;
  border-radius: 3px;
  border: 3px solid #ffffff;
  position: absolute;
  bottom: 3rem;
  right: 5rem;
}

/* line 109, ../sass/customStyle.scss */
.contntThumbnailContainer {
  display: flex;
  font-family: "Noto Sans", sans-serif;
}
/* line 112, ../sass/customStyle.scss */
.contntThumbnailContainer .thumbnail {
  flex: 1;
}

/* line 117, ../sass/customStyle.scss */
.aboutMe {
  margin: 3rem 6rem 3rem 6rem;
  font-family: "Noto Sans", sans-serif;
  background-color: rgba(168, 160, 152, 0.6);
  border-radius: 3px;
}

@media (max-width: 40em) {
  /* line 127, ../sass/customStyle.scss */
  #homePageHeader .headerCopy h1 {
    font-size: 30px;
  }
  /* line 130, ../sass/customStyle.scss */
  #homePageHeader .headerCopy h2 {
    font-size: 25px;
  }
  /* line 135, ../sass/customStyle.scss */
  #homePageHeader .morrisCounty span {
    margin: 0 3rem;
  }

  /* line 140, ../sass/customStyle.scss */
  .contntThumbnailContainer {
    padding: 5rem 2rem 0 2rem;
    flex-direction: column;
  }
  /* line 143, ../sass/customStyle.scss */
  .contntThumbnailContainer .thumbnail {
    margin: 1rem 0;
  }

  /* line 147, ../sass/customStyle.scss */
  .aboutMe {
    margin: 2rem;
    padding: 3rem 2rem;
  }

  /* line 151, ../sass/customStyle.scss */
  footer {
    font-family: "Noto Sans", sans-serif;
    padding: 0 0 1rem 2rem;
  }
}
@media (min-width: 40.063em) {
  /* line 158, ../sass/customStyle.scss */
  .contntThumbnailContainer {
    padding: 5rem 5rem 0 5rem;
    flex-direction: row;
  }
  /* line 161, ../sass/customStyle.scss */
  .contntThumbnailContainer .thumbnail {
    margin: 0 1rem;
  }

  /* line 165, ../sass/customStyle.scss */
  .aboutMe {
    margin: 3rem 6rem;
    padding: 3rem 6rem;
  }

  /* line 169, ../sass/customStyle.scss */
  footer {
    padding: 0 0 1rem 6rem;
  }
}
