/* for About Us / Mission page */

.topspacer_au {
    padding-top: 65px;
    padding-bottom: 20px;
}

.topheadingbox_au {
    padding-top: 8px;
    padding-bottom: 40px;
    margin-bottom: 25px;
    color: black;
    background-color: #fcfcfc;
    border-style: dotted;
    border-width: 1px;
}

.leftmarginspacer_au {
    margin-left: 25px;
    margin-right: 70px;
    background-color: #fcfcfc;
}

.maintextbottommargin_au {
    padding-top: 1px;
    padding-bottom: 20px;
}

/* for Contact page */

.cuspacerbox {
    padding-top: 8px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    color: black;
    background-color: #ffffff;
}

.cutopheadingbox {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: black;
    background-color: #eee;
}

.culeftmarginspacer {
    margin-left: 40px;
    margin-right: 160px;
    background-color: #eee;
}

.cumaintextbottommargin {
    padding-top: 1px;
    padding-bottom: 20px;
}